from pathlib import Path

# Build paths inside the project like this: BASE_DIR / 'subdir'.
BASE_DIR = Path(__file__).resolve().parent.parent

LOG_FOLDER_PATH = '/home/user/project/logs/'

HOSTNAMES = [
  {
    "name": "www.example.com",
    "cert_dc_file": "/home/user/project/logs/docker-compose-1.yml",
    "certbot_service_name": "certbot_www",
    "rvp_dc_file": "/home/user/project/logs/docker-compose-1.yml",
    "reverse_proxy_service_name": "reverse_proxy"
  },
    {
    "name": "api.example.com",
    "cert_dc_file": "/home/user/project/logs/docker-compose-2.yml",
    "certbot_service_name": "certbot_api",
    "rvp_dc_file": "/home/user/project/logs/docker-compose-2.yml",
    "reverse_proxy_service_name": "reverse_proxy_2"
  }
]